@import "tailwindcss";

@theme {
  --color-primary: #0c2340;
  --color-primary-light: #143865;

  --color-gray: #555;
  --color-gray-light: #d2d2d2;
  --color-gold: #ae9142;
  --color-card-hover: #e1e8f2;
  --color-card-hover-200: #c1cddd;
  --color-image-halo: #fff9;

  --color-sky-blue: #e1e8f2;
  --color-sky-blue-light: #edf2f9;
  --color-sky-blue-dark: #c1cddd;

  --spacing-container: 1728px;
}
